@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle" >
        <h1 id="title"></h1>
    </section>

    <div class="row" style="text-align:center;" >
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">

            <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">Total member</div>
                <div class="card-body text-primary">
                    <h5 class="card-title"> 50000</h5>
                </div>
            </div>


        </section>
        <section class="col-md-4" aria-labelledby="librariesTitle">

            <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">Total Shops</div>
                <div class="card-body text-primary">
                    <h5 class="card-title"> 50</h5>
                </div>
            </div>


        </section>
        <section class="col-md-4" aria-labelledby="hostingTitle">

            <div class="card border-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">Total Admin</div>
                <div class="card-body text-primary">
                    <h5 class="card-title"> 50000</h5>
                </div>
            </div>

        </section>
        <hr />
    </div>
        <div class="row">
            <div class="col col-6">
                <div style="border:1px solid;border-radius:10px;padding:10px;">
                    <h4 style="text-align:center;" > Member List </h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>twitter</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col col-6">
                <div style="border:1px solid;border-radius:10px;padding:10px;">
                    <h4 style="text-align:center;"> Shops List</h4>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                                <th scope="col">Handle</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>mdo</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>twitter</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>


            </div>




</main>